*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#grid-div {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 3fr;
  grid-gap: 2em;
  padding: 1em;
  border: 1em outset orange;
}

#degree-div {
  grid-area: 1/1/2/2;
  width: 100%;
  border: 0.5rem solid black;
  border-radius: 0.25em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 4em;
  font-family: "Bungee Shade", cursive;
}

#degree-p {
  margin: 0 auto;
  margin-bottom: -0.5em;
  color: blue;
  transition: color 0.5s linear;
}

#city-text {
  font-size: 0.5em !important;
  line-height: 1.5ch;
  margin: 0 auto;
  padding: 10px 10px;
  color: rgb(123, 175, 0);
  font-variant: small-caps;
  font-weight: 600;
  font-family: "Bungee Shade", cursive;
  letter-spacing: 0.1em;
  opacity: 1;
  transition: color 0.5s linear;
}

#search-div {
  grid-column: 2/5;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#form {
  margin-top: 2em;
  width: 100%;
  display: flex;
}

#form input {
  order: 2;
  padding: 0;
  padding-left: 2em;
  margin: 0;
  width: 100%;
  border: 0.15rem solid orange;
  border-radius: 2em;
  height: 2em;
  font-size: 20px;
  font-family: monospace;
}

.btn {
  background: none;
  border: none;
  order: 1;
  align-self: center;
  justify-self: center;
  position: absolute;
  margin-left: 10px;
  cursor: pointer;
  transform: rotate(0deg);
}

.btn:hover {
  transition: transform 0.75s ease;
  transform: rotate(360deg);
}

#forecast-div {
  width: 100%;
  height: 100%;
  border: 0.5em solid black;
  border-radius: 0.25em;
  grid-row: 2/3;
}

#header-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  border-bottom: 0.25em dashed black;
}

#forecast-word {
  text-align: center;
  font-family: "Bungee Shade", cursive;
}

#forecast-ul {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  list-style-type: none;
}
#forecast-ul li {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5em;
  font-weight: 600;
  border-bottom: 0.25em solid black;
}
#forecast-ul li:last-child {
  border-bottom: 0;
}
#forecast-ul .list-img {
  width: 10%;
  aspect-ratio: 1/1;
}

#maps-div {
  grid-area: 2/2/3/5;
  border: 0.25em solid black;
  border-radius: 0.25em;
  width: 100%;
  height: 100%;
}

.leaflet-popup-content-wrapper {
  font-size: 1.7em;
  color: black;
  background: linear-gradient(to bottom right, orange, white, yellow);
  border: 2px solid white;
  border-radius: 10px;
}

@media (max-width: 800px) {
  #grid-div {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr 2fr 3fr;
    height: auto;
    padding-bottom: 50px;
  }
  #degree-div {
    grid-area: auto;
    width: 80%;
    margin: 0 auto;
  }
  #search-div {
    grid-column: auto;
    width: 80%;
    margin: 0 auto;
  }
  #form input {
    padding-right: 1em;
  }
  #forecast-div {
    grid-row: auto;
    width: 80%;
    margin: 0 auto;
  }
  #forecast-ul .list-img {
    width: 5%;
  }
  #maps-div {
    grid-area: auto;
    width: 80%;
    margin: 0 auto;
  }
}

/*# sourceMappingURL=style.css.map */
